.oppertunity_ {
    background: #090616;
    padding: 100px 20px;
   

}
.printer__img{
    text-align: end;
}
.opp_detail_section h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 49px;
    color: #fff;
    margin-bottom: 16px;
}
.opp_detail_section p{
    font-family: 'BarkeleyMono-Regular';
    font-size: 19px;
    color: #9A8CE8;
    margin-bottom: 12px;
}

@media only screen and (max-width: 1024px){
    .oppertunity_{
        padding:50px 20px;
    }
    .opp_detail_section h2{
        font-size: 36px;
   }
   .opp_detail_section p{
    font-size: 16px;
   }

}
@media only screen and (max-width: 768px){
    .oppertunity_{
       padding:35px 20px;
    }
    .Oppor_order{
        order: 2;
    }
}
@media only screen and (max-width: 570px){
    .opp_detail_section h2{
        font-size: 26px;
    }
    .opp_detail_section p{
        font-size: 14px;
    }
}
@media only screen and (max-width: 400px){
    .opp_detail_section h2 {
        font-size: 22px;
    }
    .opp_detail_section p {
        font-size: 12px;
    }
}