@font-face {
  font-family: 'BarkeleyMono-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/BerkeleyMono-Bold.woff") format('woff');
}

@font-face {
  font-family: 'BarkeleyMono-Bolditalic';
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/BerkeleyMono-BoldItalic.woff") format('woff');
}
@font-face {
  font-family: 'BarkeleyMono-italic';
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/BerkeleyMono-Italic.woff") format('woff');
}
@font-face {
  font-family: 'BarkeleyMono-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/BerkeleyMono-Regular.woff") format('woff');
}
